header {
  height: 135px;
  width: 100wv;
  background-color: #494a4a;
}

body {
  height: 250px;
  width: 100%;
  background-color: #dedede;
  margin: 0px;
}

.bigSquare {
  height: 600px;
  width: 70%;
  background-color: white;
  margin: auto;
}

.smallSquare {
  height: 100px;
  width: 70%;
  background-color: black;
  margin: auto;
}
